<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">डैशबोर्ड</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a routerLink="/">मुख्य पृष्ठ</a></li>
                        <li class="breadcrumb-item active">डैशबोर्ड</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    

    
    <section class="content">
        <div class="container-fluid">
            
            <div class="row">
                <div class="col-lg-3 col-6">
                    
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>{{totalRegistrations}}</h3>

                            <p>कुल पंजीकरण</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-bag"></i>
                        </div>
                        <a routerLink="/view/registration" class="small-box-footer">More info <i
                                class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                
                <div class="col-lg-3 col-6">
                    
                    <div class="small-box bg-success">
                        <div class="inner">
                            <h3>{{totalUsers}}</h3>

                            <p>कुल उपयोगकर्ता</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>
                        <a href="#" class="small-box-footer">अधिक जानकारी <i
                                class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                
                <div class="col-lg-3 col-6">
                    
                    <div class="small-box bg-warning">
                        <div class="inner">
                            <h3>44</h3>

                            <p>कुल आगंतुक</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-person-add"></i>
                        </div>
                        <a href="#" class="small-box-footer">अधिक जानकारी <i
                                class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    
                    <div class="small-box bg-danger">
                        <div class="inner">
                            <h3>$ 58,784.32</h3>

                            <p>कुल लाभ</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-pie-graph"></i>
                        </div>
                        <a href="#" class="small-box-footer">अधिक जानकारी <i
                                class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
   
</div>