<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">सभी पंजीकरणों की सूची</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">मुख्य पृष्ठ</a></li>
              <li class="breadcrumb-item active">पंजीकरण</li>
              <li class="breadcrumb-item active">सभी पंजीकरण देखें</li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <section class="content">
      <div class="container-fluid">
        <div class="card card-default">
          <div class="card-header">
            <h3 class="card-title">पेज हेडर</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <p>view registration table goes here</p>
            <p>
                {{data| json}}
            </p>
          </div>
          <div class="card-footer">
            This is standard card footer
          </div>
        </div>
      </div>
    </section>
  
  </div>
  