
<div class="container">
    <h3 class="text-center paddingTop"><u>दाह संस्कार पंजीयन हेतु आवेदन पत्र</u> </h3>
    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="fs-4">01. विधिक सूचना</p>
                            <div class="card">
                                <div class="card-body">

                                    <div class="row">
                                        <div class="col-md-6">
                                            <form>
                                                <div class="mb-3">
                                                    <label
                                                        for="exampleInputPassword1"
                                                        class="form-label">मृत्यु
                                                        की दिनांक</label>
                                                    <input type="text"
                                                        class="form-control">
                                                </div>
                                                <div class="mb-3">
                                                    <label
                                                        for="exampleInputEmail1"
                                                        class="form-label">मृतक
                                                        का
                                                        नाम</label>
                                                    <input type="text"
                                                        class="form-control"
                                                        aria-describedby="emailHelp">
                                                </div>
                                                <div class="mb-3">
                                                    <label
                                                        for="exampleInputEmail1"
                                                        class="form-label">मृतक
                                                        का
                                                        लिंग</label>
                                                        <br />
                                                    <div
                                                        class="form-check form-check-inline">
                                                        <input
                                                            class="form-check-input"
                                                            type="radio"
                                                            name="inlineRadioOptions"
                                                            id="inlineRadio1"
                                                            value="option1">
                                                        <label
                                                            class="form-check-label"
                                                            for="inlineRadio1">पुरूष</label>
                                                    </div>
                                                    <div
                                                        class="form-check form-check-inline">
                                                        <input
                                                            class="form-check-input"
                                                            type="radio"
                                                            name="inlineRadioOptions"
                                                            id="inlineRadio2"
                                                            value="option2">
                                                        <label
                                                            class="form-check-label"
                                                            for="inlineRadio2">महिला</label>
                                                    </div>
                                                    <div
                                                        class="form-check form-check-inline">
                                                        <input
                                                            class="form-check-input"
                                                            type="radio"
                                                            name="inlineRadioOptions"
                                                            id="inlineRadio3"
                                                            value="option3">
                                                        <label
                                                            class="form-check-label"
                                                            for="inlineRadio3">ट्रांस
                                                            जेंडर</label>
                                                    </div>

                                                </div>
                                                
                                            </form>
                                        </div>

                                        <div class="col-md-6">
                                            <form>
                                                <div class="mb-3">
                                                    <label
                                                        for="exampleInputEmail1"
                                                        class="form-label">मृतक
                                                        की जन्म दिनांक</label>
                                                    <input type="email"
                                                        class="form-control"
                                                        id="exampleInputEmail1"
                                                        aria-describedby="emailHelp">

                                                </div>
                                                <div class="mb-3">
                                                    <label
                                                        for="exampleInputPassword1"
                                                        class="form-label">मृतक
                                                        की आयु</label>
                                                    <input type="text"
                                                        class="form-control">
                                                </div>
                                                <div class="mb-3">
                                                    <label
                                                        for="exampleInputPassword1"
                                                        class="form-label">मृतक
                                                        के
                                                        पिता का नाम</label>
                                                    <input type="text"
                                                        class="form-control">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br />

                    <div class="row">
                        <div class="col-md-12">
                            <p class="fs-4">02. सांख्यिकी सूचना</p>
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <form>
                                                <div class="mb-3">
                                                    <label
                                                        for="exampleInputPassword1"
                                                        class="form-label">मृत्यु
                                                        का स्थान</label>
                                                    <input type="text"
                                                        class="form-control">
                                                        <div class="form-text" id="basic-addon4">(यदि अस्पताल / संस्था / घर या अन्य किसी स्थान पर मृत्यु हुई हो तो उस स्थान या संस्था का नाम लिखें)</div>
                                                </div>
                                                <div class="mb-3">
                                                    <label
                                                        for="exampleInputEmail1"
                                                        class="form-label">मृत्यु का कारण</label>
                                                    <input type="text"
                                                        class="form-control"
                                                        aria-describedby="emailHelp">
                                                </div>
                                                <div class="mb-3">
                                                    <label
                                                        for="exampleInputEmail1"
                                                        class="form-label">क्या मृत्यु के पूर्व कोई चिकित्सकीय सुविधा प्राप्त हुई थी? यदि हाँ तो काhan और कोनसी</label>
                                                    <input type="email"
                                                        class="form-control"
                                                        aria-describedby="emailHelp">

                                                </div>
                                                <div class="mb-3">
                                                    <label
                                                        for="exampleInputPassword1"
                                                        class="form-label">मृतक
                                                        के
                                                        पिता का नाम</label>
                                                    <input type="text"
                                                        class="form-control">
                                                </div>

                                            </form>
                                        </div>

                                        <div class="col-md-6">
                                            <form>
                                                <div class="mb-3">
                                                    <label
                                                        for="exampleInputEmail1"
                                                        class="form-label">मृतक
                                                        की जन्म दिनांक</label>
                                                    <input type="email"
                                                        class="form-control"
                                                        id="exampleInputEmail1"
                                                        aria-describedby="emailHelp">

                                                </div>
                                                <div class="mb-3">
                                                    <label
                                                        for="exampleInputPassword1"
                                                        class="form-label">मृतक
                                                        की आयु</label>
                                                    <input type="text"
                                                        class="form-control">
                                                </div>
                                                <div class="mb-3">
                                                    <label
                                                        for="exampleInputPassword1"
                                                        class="form-label">मृतक
                                                        की आयु</label>
                                                    <input type="text"
                                                        class="form-control">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
