<div class="login-page" style="min-height: 496.797px;">
    <div class="login-box">
        <div class="login-logo">
            <a routerLink="/"><b>My </b>App</a>
        </div>
    
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Sign in to start your session</p>
                <form (ngSubmit)="onLogin()">
                    <div class="input-group mb-3">
                        <input type="email" [(ngModel)]="email" name="email" class="form-control"
                            placeholder="Email" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" [(ngModel)]="password" name="password" class="form-control"
                            placeholder="Password" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-8">
                        </div>
    
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Log In</button>
                        </div>
    
                    </div>
                </form>
                
    
                <!-- <p class="mb-1">
                    <a routerLink="/register">I forgot my password</a>
                </p> -->
                <br>
                <p class="text-right">
                    <a routerLink="/register" class="text-center">Create new account</a>
                </p>
            </div>
    
        </div>
    </div>
</div>
