<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">दाह संस्कार पंजीयन हेतु आवेदन पत्र</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">मुख्य पृष्ठ</a></li>
            <li class="breadcrumb-item active">पंजीकरण</li>
            <li class="breadcrumb-item active">नया पंजीकरण बनाएं</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <section class="content">
    <div class="container-fluid">
      
      <div class="card card-default">
        <div class="card-header">
          <h3 class="card-title">टिप्पणी:- मृत व्यक्ति के बारे में सभी सही जानकारी भरें।</h3>
        </div>
        <div class="card-body">
          <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>मृत्यु की दिनांक <span
                      class="text-danger">*</span></label>
                  <input type="text" formControlName="death_date"
                    class="form-control select2" placeholder="yyyy-MM-dd hh:mm" required/>
                </div>

                <div class="form-group">
                  <label>मृतक के पिता या पति का नाम <span
                      class="text-danger">*</span></label>
                  <input type="text" formControlName="father_or_spouse_name"
                    class="form-control select2" required/>
                </div>

              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label>मृतक का नाम <span class="text-danger">*</span></label>
                  <input type="text" formControlName="deceased_name"
                    class="form-control select2" required />
                </div>

                <div class="form-group">
                  <label>मृतक का लिंग <span class="text-danger">*</span></label>
                  <select class="custom-select rounded-0" id="gender"
                    placeholder="Select Gender" formControlName="gender" required>
                    <option value="Male">पुरुष</option>
                    <option value="Female">महिला</option>
                    <option value="Transgender">ट्रांसजेंडर</option>
                  </select>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label>मृतक की आयु <span class="text-danger">*</span></label>
                  <input type="number" formControlName="age"
                    class="form-control select2" required />
                </div>
                <div class="form-group">
                  <label>मृत्यु का स्थान (यदि अस्पताल / संस्था / घर या अन्य किसी
                    स्थान पर मृत्यु हुई हो तो उस स्थान या संस्था का नाम
                    लिखें) <span class="text-danger">*</span></label>
                  <div class="select2-purple">
                    <input type="text" formControlName="place_of_death"
                      class="form-control select2" required />
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label>मृत्यु का कारण <span
                      class="text-danger">*</span></label>
                  <input type="text" formControlName="cause_of_death"
                    class="form-control select2" required />
                </div>
                <div class="form-group">
                  <label>क्या मृत्यु के पूर्व कोई चिकित्सकीय सुविधा प्राप्त हुई
                    थी? यदि हाँ तो कहाँ और कौन-सी? <span
                      class="text-danger">*</span></label>
                  <br><br>
                  <div class="select2-purple">
                    <input type="text"
                      formControlName="medical_facility_received"
                      class="form-control select2" required />
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label>क्या चिकित्सा के दौरान मृत्यु हुई थी? हां या नहीं?
                    <span class="text-danger">*</span></label>
                  <input type="text" formControlName="death_during_treatment"
                    class="form-control select2" required />
                </div>
                <div class="form-group">
                  <label>यदि हाँ तो क्या चिकित्सकीय द्वारा लिखित मृत्यु प्रमाणित
                    किया गया था? <span class="text-danger">*</span></label>
                  <div class="select2-purple">
                    <input type="text" formControlName="death_certified"
                      class="form-control select2" required>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label>बीमारी का नाम <span class="text-danger">*</span>
                  </label>
                  <input type="text" formControlName="disease_name"
                    class="form-control select2" required />
                </div>
                <div class="form-group">
                  <label>मृतक का वर्तमान निवास <span
                      class="text-danger">*</span></label>
                  <div class="select2-purple">
                    <input type="text" formControlName="current_residence"
                      class="form-control select2" required>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label>मृतक का पैतृक निवास <span class="text-danger">*</span>
                  </label>
                  <input type="text" formControlName="permanent_residence"
                    class="form-control select2" required />
                </div>
                <div class="form-group">
                  <label>जाति / उपजाति <span
                      class="text-danger">*</span></label>
                  <div class="select2-purple">
                    <input type="text" formControlName="caste"
                      class="form-control select2" required />
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label>राष्ट्रीयता / धर्म <span class="text-danger">*</span>
                  </label>
                  <input type="text" formControlName="nationality"
                    class="form-control select2" required />
                </div>
                <div class="form-group">
                  <label>मृतक का व्यवसाय <span class="text-danger">*</span>
                  </label>
                  <div class="select2-purple">
                    <input type="text" formControlName="occupation"
                      class="form-control select2" required />
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>महिला मृत्यु की स्थिति में (क्या मृत्यु गर्भ के दौरान /
                    प्रसूति के दौरान / गर्भावस्था की समाप्ति के 6 सप्ताह के भीतर
                    हुई थीं) <span class="text-danger">*</span>
                  </label>
                  <input type="text" formControlName="female_death_condition"
                    class="form-control select2" required />
                </div>
                <div class="form-group">
                  <label>क्या मृतक किसी प्रकार के नशीले पदार्थ का सेवन करता था
                    यदि
                    हाँ तो कौन सा? <span class="text-danger">*</span></label>
                  <br><br>
                  <div class="select2-purple">
                    <input type="text" formControlName="substance_type"
                      class="form-control select2" required />
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label>कब से नशीले पदार्थ का सेवन करता था ? <span
                      class="text-danger">*</span></label>
                  <br><br>
                  <input type="text" formControlName="substance_usage_duration"
                    class="form-control select2" required />
                </div>
                <div class="form-group">
                  <label>शवदाह की तिथि व समय <span
                      class="text-danger">*</span></label>
                  <br><br>
                  <div class="select2-purple">

                    <input type="text" formControlName="cremation_date_time"
                      class="form-control select2" placeholder="yyyy-MM-dd hh:mm" required />
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label>शवदाह करने वाले का नाम <span
                      class="text-danger">*</span></label>
                  <div class="select2-purple">
                    <input type="text" formControlName="cremator_name"
                      class="form-control select2" required />
                  </div>
                </div>
                <div class="form-group">
                  <label>शवदाह करने वाले का मृतक से सम्बंध ? <span
                      class="text-danger">*</span></label>
                  <input type="text" formControlName="cremator_relation"
                    class="form-control select2" required />
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label>सूचना देने वाले का नाम <span
                      class="text-danger">*</span></label>
                  <div class="select2-purple">
                    <input type="text" formControlName="informant_name"
                      class="form-control select2" required />
                  </div>
                </div>
                <div class="form-group">
                  <label>सूचना देने वाले का मृतक से सम्बंध ? <span
                      class="text-danger">*</span></label>
                  <input type="text" formControlName="informant_relation"
                    class="form-control select2" required />
                </div>
              </div>

            </div>

            <div class="col-12 col-md-12">
              <br><br>
              <div class="form-group text-center">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" required>
                  <label class="form-check-label">मैं शपथ के साथ वचन देता हूँ कि मैने जो
                    भी सूचना उपलब्ध करायी है, वह पूर्णतया सत्य है। <span
                      class="text-danger">*</span></label>
                </div>
              </div>
            </div>

            <div class="col-12 col-md-12">
              <br><br>
              <div class="text-center">
                <button type="submit" class="btn btn-success">Submit</button>
              </div>
            </div>
            <br><br>
          </form>
        </div>
        <div class="card-footer">
          किसी भी समस्या के लिए हमसे संपर्क करें <a routerLink="/">http://localhost:4200/</a>
        </div>
      </div>
    </div>
  </section>

</div>
